{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="//localhost:3000/css/style.css">
{% endblock %}

{% block js %}
<script type="text/javascript" src="//localhost:3000/js/index.js"></script>
{% endblock %}

{% block id %}index{% endblock %}

{% block content %}
<div class="container">
  <!-- <h1>{{ title }}</h1> -->
  <header>
    <img src="./img/logo.jpg">
    <div class="row">
      <div class="col-4 nav-button">

      </div>
      <div class="col-4 nav-button"></div>
      <div class="col-4 nav-button"></div>
    </div>
    <!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MOTOR SPORT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FEATURES</a>
          </li>
        </ul>
      </div>
    </nav> -->
  </header>
</div>
{% endblock %}