body {
  background: black; }

h1 {
  font-size: 30px; }

#index .container {
  text-align: center; }
  #index .container h1 {
    color: yellow; }
  #index .container .nav-button {
    background: yellow;
    border: 1px solid gray;
    border-radius: 10px 10px 0 0;
    height: 50px; }
